@font-face {
    font-family: kelson_sans_bold_ru;
    src: url('./fonts/kelson_sans_bold_ru.woff');
}

@font-face {
    font-family: kelson_sans_ru;
    src: url('./fonts/kelson_sans_regular_ru.woff');
}

@font-face {
    font-family: clearsans-regular;
    src: url('./fonts/clearsans-regular.woff');
}
@font-face {
    font-family: clearsans-bold;
    src: url('./fonts/clearsans-bold.woff');
}

.konan-slider {
    width: 100%;
    height: 450px;
    position: relative;
    background: url('./img/smoke-slider.jpg') 50% 50% no-repeat;
    color: #fff;
    font-size: 14px;
    text-align: left;
    display: block;
}
.konan-slider-left {
    display: inline-block;
    width: 45%;
    padding: 100px;
    padding: 4% 0 0 6%;
}
.konan-slider-title {
    font-size: 36px;
    font-family: kelson_sans_bold_ru,arial;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
    white-space: nowrap;
}

.konan-slider-text {
    line-height: 21px;
    font-family: clearsans-regular,arial;
    display: block;
    position: relative;
    width: 600px;

}
.konan-slider-list {
    font-family: clearsans-bold,arial;
    line-height: 20px;
}
.konan-slider-list-icons {
    list-style: none;
    padding-left: 0;
    padding-top: 25px;
}
.konan-slider-list-icons li.icon{
    list-style: none;
    display: inline;
    background-color: #5891af;
    padding: 5px 10px;
    padding-bottom: 9px;
    margin-right: 5px;
    font-size: 23px;
    float: left;
    cursor: pointer;
}
.konan-slider-list-icons li.icon:hover{
    background-color: #c23571;
}
.konan-slider-list-icons li.button{
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    background: none;
    display: inline;
    padding: 10px;
    float: left;
    font-family: kelson_sans_ru, arial;
    cursor: pointer;
}
.konan-slider-list-icons li.button:hover{
    border: 1px solid rgba(255,255,255,1);
}
