.konan-header {
    display: block;
    background-color: rgb(244, 245, 246);
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 14px;
}
.konan-header-right {
    display: inline-block;
    position: relative;
    padding: 10px;
    /*padding-bottom: 10px;*/
}
.konan-header-link {
    text-decoration: underline;
    color: #c23571;
    cursor: pointer;
}
.konan-header-phone {
    color: rgb(89, 99, 113);
    font-family: clear_sansbold, arial;
    outline-color: rgb(89, 99, 113);
    outline-style: none;
    font-weight: 600;
}
.konan-header-email {
    color: #596371;
    text-decoration: underline;
    cursor: pointer;
}
.konan-header-email:hover {
    color: #c23571;
}