.actions-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1041;
}

.actions-popup__bg {
    position: fixed;
    z-index: 1042;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #0b0b0b;
    filter: alpha(opacity=80);
}

.actions-popup__fr {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1043;
}

.actions-popup__fr__cell {
    display: table-cell;
    vertical-align: middle
}

.actions-popup__wrap {
    position: relative;
    margin: 0 auto;
    width: 518px;
    padding: 10px 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11.5pt;
    line-height: 20px;
    overflow: hidden;
    /*margin: 10px auto;*/
}

.actions-popup__wrap .wait2__o1 {
    z-index: 9999999;
    left: -30px;
    right: -30px;
    bottom: -20px;
}

.actions-popup__container {
    position: relative;
}

.actions-popup__container__close-icon {
    position: absolute;
    top: -3px;
    right: -7px;
    width: 30px;
    height: 30px;
    background: url(img/cross-50.png);
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 2;
}

.actions-popup__container__header {
    color: #3C3C3C;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-right: 30px;
    font-family: kelson_sans_bold_ru;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

.actions-popup__container__steps {
    font-size: 13px;
    line-height: 16px;
    color: #878787;
}

.actions-popup__container__steps__item:after,
.actions-popup__container__steps__item_green:after {
    display: inline-block;
    width: 5px;
    height: 8px;
    margin: 0 15px;
    content: '';
    vertical-align: middle;
    background: url(./img/arrow_black@2x.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.actions-popup__container__steps__item:last-child:after {
    display: none;
}

.actions-popup__container__steps__item_active {font-weight: bold; color: #3c3c3c;}
.actions-popup__container__steps__item_green {font-weight: bold; color: #3dad01;}

.actions-popup__container__content {
    width: 100%;
    height: 100%;
    margin-top: 32px;
}



.actions-popup__container__content:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.actions-popup__input-text {
    padding: 5px 5px 5px 17px;
    font-size: 16px;
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    outline: none;
    height: 42px;
}

.actions-popup__input-text:focus {
    border-color: #7ed321;
    background: #fff;
    box-shadow: 0 0 3px #7ed321;
}

.actions-popup__button {
    height: 35px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.30);
    border-radius: 4px;
    background: #34A007;
    background-image: linear-gradient(-180deg, #42AE07 0%, #259207 100%);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20), inset 0px -1px 0px 0px rgba(0,0,0,0.20), inset 0px 0px 0px 1px rgba(0,0,0,0.10);
    font-weight: bold;
    min-width: 120px;
    padding: 8px 32px 9px;
    text-decoration: none;
    border: medium none;
    outline: medium none;
    float: right;
}

.actions-popup__button::-moz-focus-inner {
    border: 0;
}

.actions-popup__button:hover {
    background: #43B812;
    background-image: linear-gradient(-180deg, #60C22B 0%, #30A50F 100%);
}

.actions-popup__button:active {
    background: #269007;
    background-image: linear-gradient(-180deg, #33790C 0%, #259207 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.20);
}






























.actions-popup__title {
    margin-bottom: 4px;
    padding-top: 1px;
    font-size: 16px;
}

.actions-popup__link {
    color: #3dad01;
    text-decoration: none;
}

.actions-popup__link:hover {
    color: #50c513;
}

.actions-popup__link:active {
    color: #2f800a;
}

.actions-popup__table-data {
        border-collapse: collapse;
        width: 100%;
        margin: 13px 0 53px;
    }

    .actions-popup__table-data__label {
        font-size: 13px;
        color: #3c3c3c;
        width: 173px;
        padding: 2px 4px 2px 0;
        text-align: left;
    }

    .actions-popup__table-data__value {
        font-size: 16px;
        color: #3c3c3c;
        font-weight: 700;
        text-align: left;
        padding: 2px 0 2px 4px;
    }

    .actions-popup__table-data__note {
        text-align: right;
        padding: 0 0 6px 0;
        font-size: 80%;
        line-height: 14px;
    }


.actions-popup__input-range__label {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 50%;
    padding: 4px 0 0 10px;
    line-height: 28px;
    cursor: text;
}

.actions-popup__input-range__input {
    width: 100%;
    height: 32px;
    padding: 4px 10px 0 50%;
    border: 1px solid #d3d3d3;
    border-radius: 3px 3px 0 0;
    font-family: $font1, Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: right;
    outline: none;
}

.actions-popup__input-range__bar {
    -webkit-appearance: none;
    appearance: none;

    position: absolute;
    left: 0;
    top: 31px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2px;
    background: #d3d3d3;
    outline: none;
}

.actions-popup__input-range__note {
    font-size: 80%;
    line-height: 14px;
    opacity: 0.5;
    text-align: right;
    width: 100%;
    margin-top: 10px;
}

.actions-popup__back {
    float: left;
    font-size: 13px;
    display: block;
    margin-top: 7px;
    cursor: pointer;
    text-decoration: none;
    color: #3dad01;
}

.actions-popup__back:hover {
    transition: color .075s ease-out;
    color: #50c513;
}

.actions-popup__back:active {
    color: #2f800A;
}

/*.actions-popup__back:before {
    content: '←';
    padding: 0 0.5em 0 0;
    color: #3dad01;
}*/

.actions-popup__note {
    /*width: 92%;*/
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
    margin-bottom: 36px;
    /*padding-right: 30px;*/
}

.actions-popup__note p {
    margin-bottom: 16px;
}

.actions-popup__note_accented {
    font-size: 200%;
    line-height: 32px;
    color: #000;
}

.actions-popup__label {
    font-size: 13px;
    line-height: 16px;
    color: #878787;
    margin: -4px 0 10px;
}

.actions-popup__select {
    position: relative;
}

.actions-popup__select__value {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    cursor: pointer;
}

.actions-popup__select__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -11px;
    right: 17px;
    height: 23px;
    width: 23px;
    border-radius: 3px;
    background: url(img/actions-popup__select__icon.png) 0 0 no-repeat;
    cursor: pointer;
}

.actions-popup__select__popup {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    overflow: auto;
    max-height: 285px;
    box-shadow: 0 1px 12px rgba(21, 36, 45, 0.15);
}

.actions-popup__select__popup_open {
    display: block;
}

.actions-popup__select__item {
    padding: 8px;
    cursor: pointer;
}

.actions-popup__select__item + .actions-popup__select__item {
    border-top: 1px solid #d3d3d3;
}

.actions-popup__select__item:last-child {
    border-bottom: none;
}

.actions-popup__select__item_selected {
    background: #ceeabf;
}

.actions-popup__select__item__title {
    font-size: 110%;
    line-height: 22px;
    margin-bottom: 4px;
}

.actions-popup__select__item__note {
    font-size: 80%;
    line-height: 14px;
}






.actions-popup__radio {
    position: relative;
}

.actions-popup__radio__data {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 20px;
}

.actions-popup__radio__data__item {
    margin-bottom: 6px;
}

.actions-popup__radio__data__label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    font-size: 13px;
    color: #3c3c3c;
    padding: 3px 0;
    &_current {font-weight: bold;}
}

.actions-popup__radio__data__value {
    display: inline-block;
    vertical-align: top;
}

.actions-popup__radio__data__value__item_deleted {
    display: none;
}

.actions-popup__radio__data__value__item {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    
}

.actions-popup__radio__data__value__item__input {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 16px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
}

.actions-popup__radio__data__value__item__input:after {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    opacity: 0;
    border-radius: 50%;
    background: #58bf0d none repeat scroll 0 0;
}

.actions-popup__radio__data__value__item__input_checked {
    border-color: #58bf0d;
    background: #fff none repeat scroll 0 0;
}

.actions-popup__radio__data__value__item__input_checked:after {
    opacity: 1;
}

.actions-popup__radio__data__value__title {
    font-size: 16px;
    line-height: 24px;
    /*margin-bottom: 4px;*/
}

.actions-popup__radio__data__value__note {
    font-size: 13px;
    line-height: 20px;
    color: #878787;
    padding-bottom: 11px;
}




































.actions-popup__code__note {
    display: inline-block;
    vertical-align: top;
    font-size: 80%;
    line-height: 14px;
    opacity: 0.5;
    padding: 0 0.5em;
}

.actions-popup__toggle {
    position: relative;
    margin-bottom: 40px;
}

.actions-popup__toggle:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.actions-popup__toggle__item {
    float: left;
    height: 34px;
    width: 152px;
    line-height: 34px;
    text-align: center;
    color: #58bf0d;
    cursor: pointer;
}

.actions-popup__toggle__item + .actions-popup__toggle__item {
    border-left: 1px solid #58bf0d;
}

.actions-popup__toggle__item_selected {
    position: relative;
    background: #ceeabf;
    color: #000;
}

.actions-popup__list {
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    overflow: auto;
    max-height: 285px;
}

.actions-popup__set #Branch {
    position: relative;
    left: -30px;
    width: 518px;
    margin-bottom: 30px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), inset 0 -1px 2px rgba(0,0,0,0.1);
}

.actions-popup__set #Address {
    position: relative;
    margin-bottom: 40px;
}

.actions-popup__set .actions-popup__changed {
    margin-bottom: 38px;
    margin-right: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
}

.actions-popup__list__item {
    position: relative;
    padding: 16px 54px 18px 30px;
    cursor: pointer;
}

.actions-popup__list__item:hover {
    background: #ceeabf;
}

.actions-popup__list__item:after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 18px;
    height: 13px;
    width: 18px;
    background: url(img/active_galka_green@2x.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.actions-popup__toggle__item_selected:after {
    display: block;
}

.actions-popup__list__item + .actions-popup__list__item {
    border-top: 1px solid #d3d3d3;
}

.actions-popup__list__item_selected {
    background: #ceeabf;
}

.actions-popup__list__item__title {
    font-size: 110%;
    line-height: 22px;
    margin-bottom: 4px;
}

.actions-popup__list__item__note {
    font-size: 80%;
    line-height: 14px;
}

.actions-popup__title__icon {
    position: absolute;
    top: -6px;
    left: -5px;
    width: 30px;
    height: 30px;
    background: 0 0 no-repeat;
    background-size: 100% 100%;
}

.actions-popup__set__limits {
    margin-bottom: 64px;
}

.actions-popup__set__limits .actions-popup__set {
    position: relative;
    padding-left: 30px;
}

.actions-popup__toggle .checker {
    float: left;
}

.actions-popup__toggle .checker__label {
    cursor: pointer;
}

.actions-popup__toggle .checker:first-child {
    width: 200px;
}

.actions-popup__toggle .checker__icon {
    border-radius: 50%;
}

.actions-popup__toggle .checker__icon::after {
    border-radius: 50%;
}

.actions-popup__set .page-line__edit_label {
    font-size: 13px;
    line-height: 18px;
}

.actions-popup__footer {
    margin-top: 21px;
}




.actions-popup__confirmation__label {
    display: inline-block;
    width: 156px;
    margin: 15px 30px 0 0;
    vertical-align: top;
}

.actions-popup__confirmation__label .actions-popup__label {
    margin: 0;
}

.actions-popup__confirmation {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}