/* 1. card steps */
.steps {
    margin: 5px -7px 16px;
}

.steps__item {
    margin: 0 7px;

    color: #878787;
}

.steps__item:after {
    display: inline-block;

    width: 11px;
    height: 11px;
    margin-left: 11px;

    content: '';
    vertical-align: middle;

    background: url(./img/icon_step@2x.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.steps__item:last-child:after {
    display: none;
}

.steps__item_active {
    font-weight: bold;

    color: #3c3c3c;
}

.steps__item_green {
    font-weight: bold;

    color: #3DAD01;
}
