.wait__o1 .wait__o2 img {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.5s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index:102;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.wait__o1 {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	z-index: 100;
}
.wait__o2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:101;
}

.wait__o1_fixed {
    position: fixed;
    margin: 0 0 20px 40px;
    top: 0;
    bottom: 0;
    right: 29%;
    left: 19%;
    background: none;
    z-index: 200;
    min-width: 470px;
}

.wait__o1_mini {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    top: 5px;
}
.wait__o1_mini img {
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
}

@media screen and (min-width: 1400px) {
    .wait__o1_fixed {
        margin-left: 0;
        left: 320px;
        width: 685px;
    }
}

@media screen and (max-width: 960px) {
    .wait__o1_fixed {
        margin-left: 0;
        left: 220px;
    }
}