.info-block{
	max-width: 1024px;
    display: inline-block;
    margin: auto;	
}
.info-block-title{
	display: block;
    position: relative;
    font-size: 24px;
    font-family: kelson_sans_bold_ru, arial;
    text-transform: uppercase;
    color: rgb(89, 99, 113);
    font-weight: 500;
    padding: 19px;
    text-align: center;
    border-bottom: 2px solid rgb(88, 145, 175);
    margin: 0 20%;
}
.info-block-about {
	color: #596371;
    font-family: clear_sansregular,arial;
    font-size: 14px;
    display: block;
    margin: 10px 11%;
    text-align: justify;
}
.info-block-header {
	margin-bottom: 20px;
}