body {
    background-color: #fff;
}
.page-main {
	    margin: auto;
    text-align: center;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Mono', monospace;*/

.popup-input-label {
	font-family: clearsans-bold,arial;
	display: inline-block;
	width: 30%;
}
.popup-input {
	font-family: clearsans-regular, arial;
    display: inline-block;
    width: 67%;
    outline: none;
    border: none;
    border-bottom: #b9aaaa 1px dashed;
    transition: all 0.1s ease-in;
}
.popup-input:hover {
	border-bottom: #b9aaaa 1px solid;
}
.popup-input:focus {
	border-bottom: #d9aaaa 1px solid;
}

.popup-input-text-area {

}

.popup-line {
	    margin: 10px 0;
}
.popup-button {
	background: #c23571;
    color: #fff;
    font-family: clearsans-regular, arial;
    display: inline-block;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer; 
    transition: all 0.1s ease-in;
    margin-right: 13px;
    margin-top: 13px;
}
.popup-button:hover{
	background: #a9245d;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.popup-info{
	font-family: clearsans-regular, arial;
    font-size: 13px;
    display: inline-block;
    color: #4e4c4c;
}
.popup-input-error {
    border-bottom: #f00 1px solid;
}
.popup-input-error:hover {
    border-bottom: #f00 1px solid;
}


.circle-block {
	width: 320px;
	height: 320px;
	text-align: center;
	display: inline-block;
}
.info-block-circle {
	display: inline-block;
	width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(215, 231, 241);
    background-size: contain;
}
.info-block-circle-about {
	color: #596371;
    font-family: clear_sansregular,arial;
    font-size: 14px;
    display: block;
    margin: 10px 11%;
    text-align: center;
}
.info-block-circle-title {
	color: rgb(88, 145, 175);
	display:block;
	font-family: kelson_sans_ru, arial;
	font-size:16px;
	margin-top:15px;
	outline-color:rgb(88, 145, 175);
	outline-style:none;
	outline-width:0px;
	text-align:center;
	cursor: pointer;
	transition: all 0.1s ease-in;

}
.info-block-circle-title:hover {
	color: #c23571;
	text-decoration: underline;
}

.kurpatov {
	background: url('img/kurpatov.jpg') no-repeat;
    background-size: contain;
}
.lama {
	background: url('img/lama.jpg') 0 100% no-repeat;
	    background-size: cover;
    background-position-y: 8%;
}
.sobut {
	background: url('img/sobut.jpg') 0 100% no-repeat;
	background-size: cover;
}
.konfuciy {
	background: url('img/konfuciy.jpg') 0 100% no-repeat;
	background-size: cover;
}
.frejd {
	background: url('img/frejd.jpg') 0 100% no-repeat;
	background-size: cover;
    background-position-y: 10%; 
}
.review-block {
	display: block;
    margin: 0 6%;
    text-align: justify;
}
.review-text:before {
	content: '"';
}
.review-text:after {
	content: '"';
}
.review-text {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	font-family: clearsans-regular, arial;
	font-size: 14px;
	color: #596371;

}
.review-name {
	display: inline-block;
    text-decoration: italic;
    font-family: kelson_sans_ru, arial;
    font-size: 15px;
    color: rgb(88, 145, 175);
    margin-bottom: 20px;
    font-style: italic;	
    float: right;
}