.konan-menu-logo {
    display: inline-block;
    min-width: 229px;
    min-height: 60px;
    background: url('./img/logo.png') 6% 100% no-repeat;
    background-size: auto 100%;
    width: 20%;
    top: 24px;
    position: relative;

    margin-top: -26px;
}

.konan-menu-right {
    width: 79%;
    display: inline-block;
    text-align: right;
}
.konan-menu-item {
    padding: 10px;
    padding-bottom: 0px;
}
.konan-menu-item a {
    color: #596371;
    font-size: 16px;
    text-transform: uppercase;
    font-family: monospace;

}
.konan-menu {
    padding: 0 10px;
}
.konan-menu-item>a {
    padding-bottom: 23px;
}
.konan-menu-item a:hover {
    color: #2166b0;
}

.konan-menu-right  ul{
    padding: 0;
    list-style: none;
}
.konan-menu-right ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    height: 28px;
}
.konan-menu-right ul li a{
    display: block;
    text-decoration: none;
    white-space: nowrap;
}
.konan-menu-right ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    padding-top: 20px;
}
.konan-menu-right ul li ul.dropdown:before{
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    border-top: 8px #fff solid;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    top: 0px;
    left: 6px;
}
.konan-menu-right ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    display: block;
    background: #c23571;
    padding-top: 10px;
}
.konan-menu-right ul li ul.dropdown li{
    display: block;
}   
.konan-menu-right ul li ul.dropdown li a{
    color: white;
    padding: 3px 10px;
}
.konan-menu-right ul li ul.dropdown li a:hover{
    background-color: #a9245d;
}

